:root {
    --primary-color: #0C2B4E;
    --secondary-color: #1A3D64;
    --accent1-color: #1D546C;
    --accent2-color: #F4F4F4;
    --heading-font: "Times New Romans", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}



header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    /* background-color: var(--secondary-color); */
    color: var(--secondary-color);
    text-align: center;
    font-weight: 700;
    padding: 10px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav li  {
    padding: 5px;
}

nav li a {
    text-decoration: none;
}

header img {
    width: 100px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
   position: absolute;
   background-color: var(--accent1-color); 
   color: var( --accent2-color);
   bottom: 10px;
   opacity: .8;
}

.hero article img {
    width: 125px;
    float: right;
    box-shadow: 0 0 3px gray;
}

section {
    margin: 20px 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.grid p {
    margin: 0;
    padding: 0;
}

.grid figure img {
    width: 100%;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.adventure img {
    width: 100%;
}
footer img {
    width: 30px;
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 8rem;
}

footer p {
    /* border-top: 1px solid var(--secondary-color); */
    margin: 0;
}

footer nav {
    margin: 0;
    padding: 0;
}