:root {
    --primary-color: darkblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .3);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}



nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color:  var(--primary-color);
    border-bottom: 1px solid black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
    clear: left;
}

aside img {
    width: 15em;
    height: auto;
}

aside h2 {
  position: absolute;
  top: 40px;
  left: 150px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header, footer {
    min-width: 840px;
    margin: 0 auto;
}

header, .grid, footer {

}


.grid {
  display: grid;
  align-items: center;
}
    
main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}